openapi: 3.0.0
info:
  title: Smile API
  version: 1.0.0
  description: 'The Smile API provides employment and income data from a single API. '
  contact:
    name: Smile Technology Pte Ltd
    url: 'https://www.getsmileapi.com'
    email: info@getsmileapi.com
  termsOfService: 'https://www.getsmileapi.com/terms-and-conditions'
servers:
  - url: 'https://sandbox.smileapi.io/v1'
    description: Sandbox
  - url: 'https://open.smileapi.io/v1'
    description: Production
paths:
  /providers:
    get:
      summary: List Providers
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
                    properties:
                      nextCursor:
                        title: Object-Next-Cursor
                        type: string
                        example: '1259723474'
                        description: The next cursor value that can be used in the following query.
                        x-internal: true
                      items:
                        type: array
                        items:
                          title: Provider
                          type: object
                          description: An employment data provider. A provider holds employment and income information of the user
                          x-tags:
                            - Providers
                          x-examples: {}
                          properties:
                            id:
                              type: string
                              description: Unique ID of the data provider.
                              example: upwork
                            name:
                              type: string
                              description: Name of the data provider.
                              example: Upwork
                            longName:
                              type: string
                            logoUrl:
                              type: string
                              description: URL to the data provider's logo.
                              example: 'https://logo.clearbit.com/upwork.com'
                            type:
                              type: string
                              enum:
                                - GIG
                              description: Type of employment data provider.
                              example: GIG
                            typeLabel:
                              type: string
                              description: 'Type label of employment data provider, like "Gig Platform".'
                              example: Gig Platform
                            active:
                              type: boolean
                              description: Indicates whether data provider integration is working.
                            enabled:
                              type: boolean
                              description: Indicates whether data provider is enabled or access is allowed for the client.
                            2fa:
                              type: boolean
                              description: Whether data provider requires two-factor authentication.
                            supported:
                              type: array
                              items:
                                type: string
                                enum:
                                  - IDENTITY
                                  - JOB
                                  - INCOME
                                  - DOCUMENT
                                example: IDENTITY
                          required:
                            - id
                            - name
                            - logoUrl
                            - type
                            - active
                            - enabled
                            - 2fa
                            - supported
                x-internal: true
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Unsupported Media Type
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: list-providers
      description: Get a list of the data providers from the Smile Network.
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Uses the filter values of the previous page to determine the next set of items.
        - name: size
          in: query
          schema:
            type: integer
            example: 50
            minimum: 1
            maximum: 100
            default: 10
          description: The number of objects you want returned in a collection.
        - schema:
            type: string
          in: query
          name: type
          description: Filter results to certain type of providers.
        - schema:
            type: boolean
          in: query
          name: active
          description: Filter results to active or inactive providers.
        - schema:
            type: boolean
          in: query
          name: enabled
          description: Filter results to enabled or disabled providers.
    parameters: []
  '/providers/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection.
        required: true
    get:
      summary: Get Provider
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Provider Get Response
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    title: Provider
                    type: object
                    description: An employment data provider. A provider holds employment and income information of the user
                    x-tags:
                      - Providers
                    x-examples: {}
                    properties:
                      id:
                        type: string
                        description: Unique ID of the data provider.
                        example: upwork
                      name:
                        type: string
                        description: Name of the data provider.
                        example: Upwork
                      longName:
                        type: string
                      logoUrl:
                        type: string
                        description: URL to the data provider's logo.
                        example: 'https://logo.clearbit.com/upwork.com'
                      type:
                        type: string
                        enum:
                          - GIG
                        description: Type of employment data provider.
                        example: GIG
                      typeLabel:
                        type: string
                        description: 'Type label of employment data provider, like "Gig Platform".'
                        example: Gig Platform
                      active:
                        type: boolean
                        description: Indicates whether data provider integration is working.
                      enabled:
                        type: boolean
                        description: Indicates whether data provider is enabled or access is allowed for the client.
                      2fa:
                        type: boolean
                        description: Whether data provider requires two-factor authentication.
                      supported:
                        type: array
                        items:
                          type: string
                          enum:
                            - IDENTITY
                            - JOB
                            - INCOME
                            - DOCUMENT
                          example: IDENTITY
                    required:
                      - id
                      - name
                      - logoUrl
                      - type
                      - active
                      - enabled
                      - 2fa
                      - supported
                x-internal: true
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: get-provider
      description: Get a data provider from the Smile Network.
      parameters: []
  /users:
    get:
      summary: List Users
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: User List Response
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
                    properties:
                      nextCursor:
                        title: Object-Next-Cursor
                        type: string
                        example: '1259723474'
                        description: The next cursor value that can be used in the following query.
                        x-internal: true
                      items:
                        type: array
                        items:
                          title: User
                          type: object
                          description: A user is someone who is authorizing Smile to retrieve and share their employment and income data on their behalf.
                          x-tags:
                            - Users
                          properties:
                            id:
                              type: string
                              title: Object ID
                              description: Unique ID of this object
                              x-internal: true
                            externalMetaData:
                              title: Object-ExternalMetadata
                              type: object
                              additionalProperties:
                                type: string
                              maxProperties: 5
                              description: |-
                                The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                                - The JSON values must be Strings (no nested JSON objects allowed)
                                - Only ASCII characters can be used
                                - Maximum of 5 key/value pairs
                                - Maximum key length of 50 characters
                                - Maximum value length of 500 characters
                              x-internal: true
                            providers:
                              description: Array of providers connected to this user (listed by provider ID)
                              type: array
                              items:
                                type: string
                          required:
                            - id
                x-internal: true
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: list-users
      description: List users from the Smile Network.
      parameters:
        - name: size
          in: query
          schema:
            type: integer
            example: 50
            minimum: 1
            maximum: 100
            default: 10
          description: The number of objects you want returned in a collection.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Uses the filter values of the previous page to determine the next set of items.
    parameters: []
    post:
      summary: Create User
      operationId: create-user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                externalMetadata:
                  title: Object-ExternalMetadata
                  type: object
                  additionalProperties:
                    type: string
                  maxProperties: 5
                  description: |-
                    The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                    - The JSON values must be Strings (no nested JSON objects allowed)
                    - Only ASCII characters can be used
                    - Maximum of 5 key/value pairs
                    - Maximum key length of 50 characters
                    - Maximum value length of 500 characters
                  x-internal: true
              x-internal: true
        description: ''
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                title: User Post Response
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
                    properties:
                      user:
                        title: User
                        type: object
                        description: A user is someone who is authorizing Smile to retrieve and share their employment and income data on their behalf.
                        x-tags:
                          - Users
                        properties:
                          id:
                            type: string
                            title: Object ID
                            description: Unique ID of this object
                            x-internal: true
                          externalMetaData:
                            title: Object-ExternalMetadata
                            type: object
                            additionalProperties:
                              type: string
                            maxProperties: 5
                            description: |-
                              The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                              - The JSON values must be Strings (no nested JSON objects allowed)
                              - Only ASCII characters can be used
                              - Maximum of 5 key/value pairs
                              - Maximum key length of 50 characters
                              - Maximum value length of 500 characters
                            x-internal: true
                          providers:
                            description: Array of providers connected to this user (listed by provider ID)
                            type: array
                            items:
                              type: string
                        required:
                          - id
                      token:
                        title: Token
                        type: object
                        x-tags:
                          - Tokens
                        description: A method for securely transmitting information between Smile and the user.
                        properties:
                          expiresAt:
                            type: string
                            title: Date and Time string
                            format: date-time
                            example: '2021-04-14T09:30:24Z'
                            description: Date and time
                            x-internal: true
                          mode:
                            type: string
                            enum:
                              - SANDBOX
                              - PRODUCTION
                            example: SANDBOX
                            description: Valid Smile mode for the Token.
                          accessToken:
                            type: string
                            description: Short-lived token to initiate link flow.
                        required:
                          - expiresAt
                          - mode
                          - accessToken
                    required:
                      - user
                      - token
                x-internal: true
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        default:
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      description: Create a user in the Smile Network.
      tags:
        - Users
  '/users/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection.
        required: true
    get:
      summary: Get User
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: User Get Response
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    title: User
                    type: object
                    description: A user is someone who is authorizing Smile to retrieve and share their employment and income data on their behalf.
                    x-tags:
                      - Users
                    properties:
                      id:
                        type: string
                        title: Object ID
                        description: Unique ID of this object
                        x-internal: true
                      externalMetaData:
                        title: Object-ExternalMetadata
                        type: object
                        additionalProperties:
                          type: string
                        maxProperties: 5
                        description: |-
                          The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                          - The JSON values must be Strings (no nested JSON objects allowed)
                          - Only ASCII characters can be used
                          - Maximum of 5 key/value pairs
                          - Maximum key length of 50 characters
                          - Maximum value length of 500 characters
                        x-internal: true
                      providers:
                        description: Array of providers connected to this user (listed by provider ID)
                        type: array
                        items:
                          type: string
                    required:
                      - id
                x-internal: true
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
[...]
