openapi: 3.0.0
info:
  title: Smile API
  version: 1.0.0
  description: 'The Smile API provides employment and income data from a single API. '
  contact:
    name: Smile Technology Pte Ltd
    url: 'https://www.getsmileapi.com'
    email: info@getsmileapi.com
  termsOfService: 'https://www.getsmileapi.com/terms-and-conditions'
servers:
  - url: 'https://sandbox.smileapi.io/v1'
    description: Sandbox
  - url: 'https://open.smileapi.io/v1'
    description: Production
paths:
  /providers:
    get:
      summary: List Providers
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
                    properties:
                      nextCursor:
                        title: Object-Next-Cursor
                        type: string
                        example: '1259723474'
                        description: The next cursor value that can be used in the following query.
                        x-internal: true
                      items:
                        type: array
                        items:
                          title: Provider
                          type: object
                          description: An employment data provider. A provider holds employment and income information of the user
                          x-tags:
                            - Providers
                          x-examples:
                            Example:
                              id: upwork
                              name: Upwork
                              longName: Upwork
                              logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                              type: GIG
                              typeLabel: Gig Platform
                              subType: SERVICES
                              subTypeLabel: Professional Services
                              active: true
                              enabled: true
                              mfa: true
                              supported:
                                - IDENTITY
                          properties:
                            id:
                              type: string
                              description: Unique ID of the data provider.
                              example: upwork
                            name:
                              type: string
                              description: Name of the data provider.
                              example: Upwork
                            longName:
                              type: string
                            logoUrl:
                              type: string
                              description: URL to the data provider's logo.
                              example: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                            type:
                              type: string
                              enum:
                                - GIG
                                - FE
                                - SCAN
                              description: Type of employment data provider.
                              example: GIG
                            typeLabel:
                              type: string
                              description: 'Type label of employment data provider, like "Gig Platform".'
                              example: Gig Platform
                              enum:
                                - Gig Platform
                                - Formal Employment
                                - Document Scan
                            subType:
                              type: string
                              description: Subset of Type of employment data provider
                              enum:
                                - SERVICES
                                - TRANSPORTATION
                                - SHARING
                                - TRADING
                                - PAYROLL
                                - HR
                                - UPLOADS
                            subTypeLabel:
                              type: string
                              description: 'Subtype label of employment data provider, like "Services".'
                              example: Professional Services
                              enum:
                                - Professional Services
                                - Transport and Delivery
                                - Asset Sharing
                                - Online Selling
                                - Payroll
                                - HR
                                - Uploaded Documents
                            active:
                              type: boolean
                              description: Indicates whether data provider integration is working.
                            enabled:
                              type: boolean
                              description: Indicates whether data provider is enabled or access is allowed for the client.
                            mfa:
                              type: boolean
                              description: Whether data provider requires two-factor authentication.
                            supported:
                              type: array
                              items:
                                type: string
                                enum:
                                  - IDENTITY
                                  - JOB
                                  - INCOME
                                  - DOCUMENT
                                  - TRANSACTION
                                example: IDENTITY
                          required:
                            - id
                            - name
                            - logoUrl
                            - type
                            - subType
                            - active
                            - enabled
                            - mfa
                            - supported
                x-internal: true
                x-examples:
                  Example:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: upwork
                          name: Upwork
                          longName: Upwork
                          logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                          type: GIG
                          typeLabel: Gig Platform
                          subType: SERVICES
                          subTypeLabel: Professional Services
                          active: true
                          enabled: true
                          mfa: true
                          supported:
                            - IDENTITY
                        - id: freelancer
                          name: Freelancer
                          longName: Freelancer
                          logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png'
                          type: GIG
                          typeLabel: Gig Platform
                          subType: SERVICES
                          subTypeLabel: Professional Services
                          active: true
                          enabled: true
                          mfa: true
                          supported:
                            - IDENTITY
                        - id: grab
                          name: Grab
                          longName: Grab
                          logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png'
                          type: GIG
                          typeLabel: Gig Platform
                          subType: TRANSPORTATION
                          subTypeLabel: Transport and Delivery
                          active: true
                          enabled: true
                          mfa: true
                          supported:
                            - IDENTITY
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Unsupported Media Type
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: list-providers
      description: Get a list of the data providers from the Smile Network.
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Uses the filter values of the previous page to determine the next set of items.
        - name: size
          in: query
          schema:
            type: integer
            example: 50
            minimum: 1
            maximum: 100
            default: 10
          description: The number of objects you want returned in a collection.
        - schema:
            type: string
          in: query
          name: type
          description: Filter results to certain type of providers.
        - schema:
            type: string
          in: query
          name: subType
          description: Filter results to certain subset of a certain type providers
        - schema:
            type: boolean
          in: query
          name: active
          description: Filter results to active or inactive providers.
        - schema:
            type: boolean
          in: query
          name: enabled
          description: Filter results to enabled or disabled providers.
    parameters: []
  '/providers/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection.
        required: true
    get:
      summary: Get Provider
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Provider Get Response
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    title: Provider
                    type: object
                    description: An employment data provider. A provider holds employment and income information of the user
                    x-tags:
                      - Providers
                    x-examples:
                      Example:
                        id: upwork
                        name: Upwork
                        longName: Upwork
                        logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                        type: GIG
                        typeLabel: Gig Platform
                        subType: SERVICES
                        subTypeLabel: Professional Services
                        active: true
                        enabled: true
                        mfa: true
                        supported:
                          - IDENTITY
                    properties:
                      id:
                        type: string
                        description: Unique ID of the data provider.
                        example: upwork
                      name:
                        type: string
                        description: Name of the data provider.
                        example: Upwork
                      longName:
                        type: string
                      logoUrl:
                        type: string
                        description: URL to the data provider's logo.
                        example: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                      type:
                        type: string
                        enum:
                          - GIG
                          - FE
                          - SCAN
                        description: Type of employment data provider.
                        example: GIG
                      typeLabel:
                        type: string
                        description: 'Type label of employment data provider, like "Gig Platform".'
                        example: Gig Platform
                        enum:
                          - Gig Platform
                          - Formal Employment
                          - Document Scan
                      subType:
                        type: string
                        description: Subset of Type of employment data provider
                        enum:
                          - SERVICES
                          - TRANSPORTATION
                          - SHARING
                          - TRADING
                          - PAYROLL
                          - HR
                          - UPLOADS
                      subTypeLabel:
                        type: string
                        description: 'Subtype label of employment data provider, like "Services".'
                        example: Professional Services
                        enum:
                          - Professional Services
                          - Transport and Delivery
                          - Asset Sharing
                          - Online Selling
                          - Payroll
                          - HR
                          - Uploaded Documents
                      active:
                        type: boolean
                        description: Indicates whether data provider integration is working.
                      enabled:
                        type: boolean
                        description: Indicates whether data provider is enabled or access is allowed for the client.
                      mfa:
                        type: boolean
                        description: Whether data provider requires two-factor authentication.
                      supported:
                        type: array
                        items:
                          type: string
                          enum:
                            - IDENTITY
                            - JOB
                            - INCOME
                            - DOCUMENT
                            - TRANSACTION
                          example: IDENTITY
                    required:
                      - id
                      - name
                      - logoUrl
                      - type
                      - subType
                      - active
                      - enabled
                      - mfa
                      - supported
                x-internal: true
                x-examples:
                  Example:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      id: upwork
                      name: Upwork
                      longName: Upwork
                      logoUrl: 'https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png'
                      type: GIG
                      typeLabel: Gig Platform
                      subType: SERVICES
                      subTypeLabel: Professional Services
                      active: true
                      enabled: true
                      mfa: true
                      supported:
                        - IDENTITY
                description: ''
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: get-provider
      description: Get a data provider from the Smile Network.
      parameters: []
  /users:
    get:
      summary: List Users
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: User List Response
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
                    properties:
                      nextCursor:
                        title: Object-Next-Cursor
                        type: string
                        example: '1259723474'
                        description: The next cursor value that can be used in the following query.
                        x-internal: true
                      items:
                        type: array
                        items:
                          title: User
                          type: object
                          description: A user is someone who is authorizing Smile to retrieve and share their employment and income data on their behalf.
                          x-tags:
                            - Users
                          x-examples:
                            Example:
                              id: 17bbf36498de4d68a0d4f86c7b62f69f
                              externalMetadata:
                                property1: string
                                property2: string
                              createdAt: '2021-04-14T09:30:24Z'
                              providers:
                                - upwork
                          properties:
                            id:
                              type: string
                              title: Object ID
                              description: Unique ID of this object
                              x-internal: true
                              example: 17bbf36498de4d68a0d4f86c7b62f69f
                            externalMetadata:
                              title: Object-ExternalMetadata
                              type: object
                              additionalProperties:
                                type: string
                              maxProperties: 5
                              description: |-
                                The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                                - The JSON values must be Strings (no nested JSON objects allowed)
                                - Only ASCII characters can be used
                                - Maximum of 5 key/value pairs
                                - Maximum key length of 50 characters
                                - Maximum value length of 500 characters
                              x-internal: true
                            createdAt:
                              type: string
                              title: Date and Time string
                              format: date-time
                              example: '2021-04-14T09:30:24Z'
                              description: Date and time
                              x-internal: true
                            providers:
                              description: Array of providers connected to this user (listed by provider ID)
                              type: array
                              items:
                                type: string
                                example: upwork
                          required:
                            - id
                x-internal: true
                x-examples:
                  Example:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      nextCursor: '1259723474'
                      items:
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            property1: string
                            property2: string
                          providers:
                            - upwork
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata: null
                          providers:
                            - freelancer
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata: null
                          providers:
                            - grab
                        - id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            key1: value
                            key2: value
                          providers:
                            - upwork
                            - freelancer
                            - grab
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '415':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
      operationId: list-users
      description: List users from the Smile Network.
      parameters:
        - name: size
          in: query
          schema:
            type: integer
            example: 50
            minimum: 1
            maximum: 100
            default: 10
          description: The number of objects you want returned in a collection.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Uses the filter values of the previous page to determine the next set of items.
    parameters: []
    post:
      summary: Create User
      operationId: create-user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                externalMetadata:
                  title: Object-ExternalMetadata
                  type: object
                  additionalProperties:
                    type: string
                  maxProperties: 5
                  description: |-
                    The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                    - The JSON values must be Strings (no nested JSON objects allowed)
                    - Only ASCII characters can be used
                    - Maximum of 5 key/value pairs
                    - Maximum key length of 50 characters
                    - Maximum value length of 500 characters
                  x-internal: true
              x-internal: true
              x-examples:
                Example:
                  externalMetadata:
                    property1: string
                    property2: string
        description: ''
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                title: User Post Response
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
                    properties:
                      user:
                        title: User
                        type: object
                        description: A user is someone who is authorizing Smile to retrieve and share their employment and income data on their behalf.
                        x-tags:
                          - Users
                        x-examples:
                          Example:
                            id: 17bbf36498de4d68a0d4f86c7b62f69f
                            externalMetadata:
                              property1: string
                              property2: string
                            createdAt: '2021-04-14T09:30:24Z'
                            providers:
                              - upwork
                        properties:
                          id:
                            type: string
                            title: Object ID
                            description: Unique ID of this object
                            x-internal: true
                            example: 17bbf36498de4d68a0d4f86c7b62f69f
                          externalMetadata:
                            title: Object-ExternalMetadata
                            type: object
                            additionalProperties:
                              type: string
                            maxProperties: 5
                            description: |-
                              The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:
                              - The JSON values must be Strings (no nested JSON objects allowed)
                              - Only ASCII characters can be used
                              - Maximum of 5 key/value pairs
                              - Maximum key length of 50 characters
                              - Maximum value length of 500 characters
                            x-internal: true
                          createdAt:
                            type: string
                            title: Date and Time string
                            format: date-time
                            example: '2021-04-14T09:30:24Z'
                            description: Date and time
                            x-internal: true
                          providers:
                            description: Array of providers connected to this user (listed by provider ID)
                            type: array
                            items:
                              type: string
                              example: upwork
                        required:
                          - id
                      token:
                        title: Token
                        type: object
                        x-tags:
                          - Tokens
                        description: A method for securely transmitting information between Smile and the user.
                        properties:
                          expiresAt:
                            type: string
                            title: Date and Time string
                            format: date-time
                            example: '2021-04-14T09:30:24Z'
                            description: Date and time
                            x-internal: true
                          mode:
                            type: string
                            enum:
                              - SANDBOX
                              - PRODUCTION
                            example: SANDBOX
                            description: Valid Smile mode for the Token.
                          accessToken:
                            type: string
                            description: Short-lived token to initiate link flow.
                        required:
                          - expiresAt
                          - mode
                          - accessToken
                        x-examples:
                          Example:
                            expiresAt: '2021-04-14T09:30:24Z'
                            mode: SANDBOX
                            accessToken: string
                    required:
                      - user
                      - token
                x-internal: true
                x-examples:
                  Example:
                    code: OK
                    message: Success
                    requestId: 5b79399a-6852-4234-bb0e-ad472648282d
                    data:
                      user:
                        id: tenant-17bbf36498de4d68a0d4f86c7b62f69f
                        externalMetadata:
                          property1: string
                          property2: string
                        providers:
                          - upwork
                      token:
                        expiresAt: '2021-04-14T09:30:24Z'
                        mode: SANDBOX
                        accessToken: string
              examples: {}
        '400':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '429':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    title: Object-Metadata-Ref-API-Code
                    description: Request status code
                    enum:
                      - OK
                      - CREATED
                      - INVALID_CREDENTIALS
                      - INVALID_PARAMETERS
                      - INVALID_TOKEN
                      - UNAUTHORIZED_ACCESS
                      - MISSING_RESOURCE
                      - REQUEST_LIMIT_EXCEEDED
                      - SERVER_ERROR
                      - UNSUPPORTED_METHOD
                      - SERVER_UNAVAILABLE
                      - TIME_LIMIT_EXCEEDED
                    example: OK
                    x-internal: true
                  message:
                    type: string
                    title: Object-Metadata-Ref-Message
                    description: Message response to the request
                    example: Success
                    x-internal: true
                  requestId:
                    type: string
                    title: Object-Metadata-Ref-RequestID
                    description: Unique ID that is added to the body of every response for easy traceability of the request in our logs.
                    x-internal: true
                    example: 5b79399a-6852-4234-bb0e-ad472648282d
                  data:
                    type: object
              examples:
                Invalid Credentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: The credentials you provided are incorrect.
                    requestId: d385ab22-0f51-4b97-9ecd-b8ff3fd4fcb6
                    data: {}
        '501':
          description: Standard error response
          content:
            application/json:
[...]
