openapi: 3.0.0
info:
  title: Smile API
  version: 0.1.0
  description: 'The Smile API provides employment and income data from a single API. '
  contact:
    name: Smile Technology Pte Ltd
    url: 'https://www.getsmileapi.com'
    email: info@getsmileapi.com
  termsOfService: 'https://www.getsmileapi.com/terms-and-conditions'
servers:
  - url: 'https://access.getsmileapi.com/sandbox'
    description: Sandbox
  - url: 'https://access.getsmileapi.com/development'
    description: Development
  - url: 'https://access.getsmileapi.com/production'
    description: Production
  - url: 'https://stoplight.io/mocks/smilenetwork/smile-api:main/14682960'
    description: Test
paths:
  /providers:
    get:
      summary: List Providers
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    title: Metadata Collection
                    type: object
                    description: ''
                    properties:
                      count:
                        type: integer
                        example: 3
                        description: Number of objects returned in the array
                      limit:
                        type: integer
                        example: 5
                        description: Limit to the number of objects retrieved
                      offset:
                        type: integer
                        example: 0
                        description: Number of objects skipped before coming to the beginning of the array
                  data:
                    type: array
                    items:
                      title: Provider
                      type: object
                      description: Employment data provider
                      x-tags:
                        - Providers
                      properties:
                        id:
                          type: string
                          title: Object ID
                          description: Unique ID of this object
                          format: uuid
                        name:
                          type: string
                          description: Name of the data provider
                          example: Upwork
                        logoUrl:
                          type: string
                          description: URL to the data provider's logo
                          example: 'https://careers.upwork.com/hs-fs/hubfs/raw_assets/public/Upwork_Spring_2021_Rebrand/images/logo.png'
                          format: uri
                        type:
                          type: string
                          enum:
                            - Gig platform
                            - Core HR
                            - Payroll
                            - Ewallet
                          description: Type of employment data platform
                        active:
                          type: boolean
                          description: Whether data provider is actively supported
                        2fa:
                          type: boolean
                          description: Whether data provider requires two-factor authentication
                        verified:
                          type: boolean
                          description: Whether data has undergone verification or KYC
                        supported:
                          type: object
                          properties:
                            identities:
                              type: boolean
                            jobs:
                              type: boolean
                            incomes:
                              type: boolean
                            documents:
                              type: boolean
                            ratings:
                              type: boolean
                            assets:
                              type: boolean
                            schools:
                              type: boolean
                            credits:
                              type: boolean
                            banks:
                              type: boolean
                      required:
                        - id
                        - name
                        - logoUrl
                        - type
                        - active
                        - 2fa
                        - verified
              examples: {}
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-providers
      description: Get a list of the data providers from the Smile Network
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter for number of objects to be returned from a collection
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter to limit the number of objects to be returned from a collection
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: 'Pass a parameter to skip the specified number of objects, to get to the desired starting point in a collection'
  '/providers/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection
        required: true
    get:
      summary: Get Provider
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    title: Provider
                    type: object
                    description: Employment data provider
                    x-tags:
                      - Providers
                    properties:
                      id:
                        type: string
                        title: Object ID
                        description: Unique ID of this object
                        format: uuid
                      name:
                        type: string
                        description: Name of the data provider
                        example: Upwork
                      logoUrl:
                        type: string
                        description: URL to the data provider's logo
                        example: 'https://careers.upwork.com/hs-fs/hubfs/raw_assets/public/Upwork_Spring_2021_Rebrand/images/logo.png'
                        format: uri
                      type:
                        type: string
                        enum:
                          - Gig platform
                          - Core HR
                          - Payroll
                          - Ewallet
                        description: Type of employment data platform
                      active:
                        type: boolean
                        description: Whether data provider is actively supported
                      2fa:
                        type: boolean
                        description: Whether data provider requires two-factor authentication
                      verified:
                        type: boolean
                        description: Whether data has undergone verification or KYC
                      supported:
                        type: object
                        properties:
                          identities:
                            type: boolean
                          jobs:
                            type: boolean
                          incomes:
                            type: boolean
                          documents:
                            type: boolean
                          ratings:
                            type: boolean
                          assets:
                            type: boolean
                          schools:
                            type: boolean
                          credits:
                            type: boolean
                          banks:
                            type: boolean
                    required:
                      - id
                      - name
                      - logoUrl
                      - type
                      - active
                      - 2fa
                      - verified
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-providers-id
      description: Get a data provider from the Smile Network
  /users:
    get:
      summary: List Users
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    title: Metadata Collection
                    type: object
                    description: ''
                    properties:
                      count:
                        type: integer
                        example: 3
                        description: Number of objects returned in the array
                      limit:
                        type: integer
                        example: 5
                        description: Limit to the number of objects retrieved
                      offset:
                        type: integer
                        example: 0
                        description: Number of objects skipped before coming to the beginning of the array
                  data:
                    type: array
                    items:
                      title: User
                      type: object
                      description: User account generated on authentication with an employment data provider
                      x-tags:
                        - Users
                      properties:
                        id:
                          type: string
                          title: Object ID
                          description: Unique ID of this object
                          format: uuid
                        createdDate:
                          type: string
                          format: date-time
                          example: '2021-06-29T10:09:28+0800'
                          description: Date and time the object was created
                        accounts:
                          type: array
                          description: Array of connected accounts
                          items: {}
                        externalId:
                          type: string
                          description: External ID from client system
                      required:
                        - id
                        - createdDate
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-users
      description: List users from the Smile Network
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter for number of objects to be returned from a collection
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter to limit the number of objects to be returned from a collection
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: 'Pass a parameter to skip the specified number of objects, to get to the desired starting point in a collection'
  '/users/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection
        required: true
    get:
      summary: Get User
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    title: User
                    type: object
                    description: User account generated on authentication with an employment data provider
                    x-tags:
                      - Users
                    properties:
                      id:
                        type: string
                        title: Object ID
                        description: Unique ID of this object
                        format: uuid
                      createdDate:
                        type: string
                        format: date-time
                        example: '2021-06-29T10:09:28+0800'
                        description: Date and time the object was created
                      accounts:
                        type: array
                        description: Array of connected accounts
                        items: {}
                      externalId:
                        type: string
                        description: External ID from client system
                    required:
                      - id
                      - createdDate
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-users-id
      description: Get a particular user profile from the Smile Network
  /accounts:
    get:
      summary: List Accounts
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    title: Metadata Collection
                    type: object
                    description: ''
                    properties:
                      count:
                        type: integer
                        example: 3
                        description: Number of objects returned in the array
                      limit:
                        type: integer
                        example: 5
                        description: Limit to the number of objects retrieved
                      offset:
                        type: integer
                        example: 0
                        description: Number of objects skipped before coming to the beginning of the array
                  data:
                    type: array
                    items:
                      title: Account
                      type: object
                      description: Account of end-user from a particular employment data provider
                      x-tags:
                        - Accounts
                      properties:
                        id:
                          type: string
                          title: Object ID
                          description: Unique ID of this object
                          format: uuid
                        createdDate:
                          type: string
                          format: date-time
                          example: '2021-06-29T10:09:28+0800'
                        providerId:
                          type: string
                          format: uuid
                          example: b929de99-8765-4393-8d42-d3bd8b376bca
                          description: ID of the data provider
                        blinkTokenId:
                          type: string
                          format: uuid
                          description: Blink token ID
                        active:
                          type: boolean
                      required:
                        - id
                        - createdDate
                        - providerId
                        - blinkTokenId
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-accounts
      description: Get a list of accounts from the Smile Network
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter for number of objects to be returned from a collection
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Pass a parameter to limit the number of objects to be returned from a collection
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: 'Pass a parameter to skip the specified number of objects, to get to the desired starting point in a collection'
  '/accounts/{id}':
    parameters:
      - name: id
        in: path
        schema:
          type: string
        description: ID of the specific object in the collection
        required: true
    get:
      summary: Get Account
      tags:
        - Accounts
      operationId: get-accounts-id
      description: Get a particular account from the Smile Network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    title: Account
                    type: object
                    description: Account of end-user from a particular employment data provider
                    x-tags:
                      - Accounts
                    properties:
                      id:
                        type: string
                        title: Object ID
                        description: Unique ID of this object
                        format: uuid
                      createdDate:
                        type: string
                        format: date-time
                        example: '2021-06-29T10:09:28+0800'
                      providerId:
                        type: string
                        format: uuid
                        example: b929de99-8765-4393-8d42-d3bd8b376bca
                        description: ID of the data provider
                      blinkTokenId:
                        type: string
                        format: uuid
                        description: Blink token ID
                      active:
                        type: boolean
                    required:
                      - id
                      - createdDate
                      - providerId
                      - blinkTokenId
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
  /accounts/identities:
    get:
      summary: Get Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    title: Metadata Object
                    type: object
                    description: ''
                    properties:
                      createdDate:
                        type: string
                        format: date-time
                        description: Date and time the object was created
                        example: '2021-06-29T10:09:28+0800'
                        readOnly: true
                      accountsId:
                        type: string
                        format: uuid
                        description: Account ID who made the request
                        example: e308864f-d209-4f86-a2c1-fd08f539b3a6
                        readOnly: true
                      actionsId:
                        type: string
                        format: uuid
                        description: The ID of the action
                        readOnly: true
                    required:
                      - createdDate
                      - accountsId
                      - actionsId
                  data:
                    type: object
                    title: Identity
                    description: ''
                    x-examples:
                      example-1:
                        value:
                          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                          fullName: 'George Cimafranca Palomero, Jr'
                          firstName: George
                          middleName: Cimafranca
                          lastName: Palomero
                          suffix: II
                          gender: Male
                          dob: '2019-08-24'
                          maritalStatus: Divorced
                          countryResidence: AF
                          citizenship: Citizen
                          photoUrl: 'https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.6435-9/13454812_10156014535344453_6972260500268646400_n.jpg'
                          email:
                            - address: gpalomero@yahoo.com
                              type: Primary
                          mobilePhone:
                            - number: string
                              type: Primary
                          fixedPhone:
                            - number: string
                              type: Primary
                          socialProfile:
                            - socialUrl: 'https://www.facebook.com/gpalomero'
                              type: Twitter
                          address:
                            - fullAddress: string
                              line1: string
                              line2: string
                              city: string
                              region: string
                              zip: string
                              country: PH
                              latitude: string
                              longitude: string
                              type: Primary
                    x-tags:
                      - Identities
                    properties:
                      id:
                        type: string
                        title: Object ID
                        description: Unique ID of this object
                        format: uuid
                      fullName:
                        type: string
                        example: 'George Cimafranca Palomero, Jr'
                        description: Full name
                      firstName:
                        type: string
                        example: George
                        description: First name
                      middleName:
                        type: string
                        example: Cimafranca
                        description: Middle name
                      lastName:
                        type: string
                        example: Palomero
                        description: Last name
                      suffix:
                        type: string
                        example: Jr
                        enum:
                          - II
                          - III
                          - IV
                          - V
                          - VI
                          - VII
                          - VIII
                          - IX
                          - X
                          - CPA
                          - DDS
                          - Esq
                          - JD
                          - Jr
                          - LLD
                          - MD
                          - PhD
                          - Ret
                          - RN
                          - Sr
                          - DO
                          - Others
                        description: Employee's name suffix
                      gender:
                        type: string
                        enum:
                          - Male
                          - Female
                          - Non-binary
                        example: Male
                        description: Gender
                      dob:
                        type: string
                        format: date
                        description: Date of birth
                      maritalStatus:
                        type: string
                        enum:
                          - Divorced
                          - Married
                          - Separated
                          - Single
                          - Widowed
                          - Lifetime Partner
                        example: Married
                        description: Marital status
                      countryResidence:
                        type: string
                        title: Country ISO Codes
                        enum:
                          - AF
                          - AX
                          - AL
                          - DZ
                          - AS
                          - AD
                          - AO
                          - AI
                          - AQ
                          - AG
                          - AR
                          - AM
                          - AW
                          - AU
                          - AT
                          - AZ
                          - BS
                          - BH
                          - BD
                          - BB
                          - BY
                          - BE
                          - BZ
                          - BJ
                          - BM
                          - BT
                          - BO
                          - BQ
                          - BA
                          - BW
                          - BV
                          - BR
                          - IO
                          - BN
                          - BG
                          - BF
                          - BI
                          - KH
                          - CM
                          - CA
                          - CV
                          - KY
                          - CF
                          - TD
                          - CL
                          - CN
                          - CX
                          - CC
                          - CO
                          - KM
                          - CG
                          - CD
                          - CK
                          - CR
                          - CI
                          - HR
                          - CU
                          - CW
                          - CY
                          - CZ
                          - DK
                          - DJ
                          - DM
                          - DO
                          - EC
                          - EG
                          - SV
                          - GQ
                          - ER
                          - EE
                          - ET
                          - FK
                          - FO
                          - FJ
                          - FI
                          - FR
                          - GF
                          - PF
                          - TF
                          - GA
                          - GM
                          - GE
                          - DE
                          - GH
                          - GI
                          - GR
                          - GL
                          - GD
                          - GP
                          - GU
                          - GT
                          - GG
                          - GN
                          - GW
                          - GY
                          - HT
                          - HM
                          - VA
                          - HN
                          - HK
                          - HU
                          - IS
                          - IN
                          - ID
                          - IR
                          - IQ
                          - IE
                          - IM
                          - IL
                          - IT
                          - JM
                          - JP
                          - JE
                          - JO
                          - KZ
                          - KE
                          - KI
                          - KP
                          - KR
                          - XK
                          - KW
                          - KG
                          - LA
                          - LV
                          - LB
                          - LS
                          - LR
                          - LY
                          - LI
                          - LT
                          - LU
                          - MO
                          - MK
                          - MG
                          - MW
                          - MY
                          - MV
                          - ML
                          - MT
                          - MH
                          - MQ
                          - MR
                          - MU
                          - YT
                          - MX
                          - FM
                          - MD
                          - MC
                          - MN
                          - ME
                          - MS
                          - MA
                          - MZ
                          - MM
                          - NA
                          - NR
                          - NP
                          - NL
                          - AN
                          - NC
                          - NZ
                          - NI
                          - NE
                          - NG
                          - NU
                          - NF
                          - MP
                          - 'NO'
                          - OM
                          - PK
                          - PW
                          - PS
                          - PA
                          - PG
                          - PY
                          - PE
                          - PH
                          - PN
                          - PL
                          - PT
                          - PR
                          - QA
                          - RS
                          - RE
                          - RO
                          - RU
                          - RW
                          - BL
                          - SH
                          - KN
                          - LC
                          - MF
                          - PM
                          - VC
                          - WS
                          - SM
                          - ST
                          - SA
                          - SN
                          - CS
                          - SC
                          - SL
                          - SG
                          - SX
                          - SK
                          - SI
                          - SB
                          - SO
                          - ZA
                          - GS
                          - SS
                          - ES
                          - LK
                          - SD
                          - SR
                          - SJ
                          - SZ
                          - SE
                          - CH
                          - SY
                          - TW
                          - TJ
                          - TZ
                          - TH
                          - TL
                          - TG
                          - TK
                          - TO
                          - TT
                          - TN
                          - TR
                          - XT
                          - TM
                          - TC
                          - TV
                          - UG
                          - UA
                          - AE
                          - GB
                          - US
                          - UM
                          - UY
                          - UZ
                          - VU
                          - VE
                          - VN
                          - VG
                          - VI
                          - WF
                          - EH
                          - YE
                          - ZM
                          - ZW
                        description: 2 character alpha ISO-3166 codes
                        example: PH
                      citizenship:
                        type: string
                        enum:
                          - Citizen
                          - Resident Alien
                          - Non-resident Alien
                          - Undocumented
                          - Others
                        description: Citizenship
                      photoUrl:
                        type: string
                        format: uri
                        example: 'https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.6435-9/13454812_10156014535344453_6972260500268646400_n.jpg'
                        description: URL to photo or avatar
                      email:
                        type: array
                        description: A collection of email addresses
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              format: email
                              example: gpalomero@yahoo.com
                              description: Email address
                            type:
                              type: string
                              title: Contact Types
                              enum:
                                - Primary
                                - Work
                                - Email
                              description: 'Primary contact, with secondary marked as either ''Work'' or ''Personal'''
                              example: Primary
                      mobilePhone:
                        type: array
                        description: A collection of mobile phone numbers
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                              title: Philippine Mobile Phone Number
                              pattern: '((^(\+)(\d){12}$)|(^\d{11}$))'
                              description: Mobile phone number in the Philippines
                            type:
                              type: string
                              title: Contact Types
                              enum:
                                - Primary
                                - Work
                                - Email
                              description: 'Primary contact, with secondary marked as either ''Work'' or ''Personal'''
                              example: Primary
                      fixedPhone:
                        type: array
                        description: A collection of landline phone numbers
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                              title: Landline Number
                              pattern: '^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$'
                              description: Fixed phone or landline
                            type:
                              type: string
                              title: Contact Types
                              enum:
                                - Primary
                                - Work
                                - Email
                              description: 'Primary contact, with secondary marked as either ''Work'' or ''Personal'''
                              example: Primary
                      socialProfile:
                        type: array
                        description: A collection of social media URLs
                        items:
                          type: object
                          properties:
                            socialUrl:
                              type: string
                              format: uri
                              example: 'https://www.facebook.com/gpalomero'
                              description: URL to social media page
                            type:
                              type: string
                              enum:
                                - Twitter
                                - Facebook
                                - LinkedIn
                              example: Facebook
                              description: Social media type
                      address:
                        type: array
                        items:
                          title: Address Object
                          type: object
                          description: ''
                          properties:
                            fullAddress:
                              type: string
                              description: Full address
                            line1:
                              type: string
                              description: Line 1 of street address
                            line2:
                              type: string
                              description: Line 2 of street address
                            city:
                              type: string
                              description: City
                            region:
                              type: string
                              description: Geographic region such as state or province
                            zip:
                              type: string
                              description: Post code
                            country:
                              type: string
                              title: Country ISO Codes
                              enum:
                                - AF
                                - AX
                                - AL
                                - DZ
                                - AS
                                - AD
                                - AO
                                - AI
                                - AQ
                                - AG
                                - AR
                                - AM
                                - AW
                                - AU
                                - AT
                                - AZ
                                - BS
                                - BH
                                - BD
                                - BB
                                - BY
                                - BE
                                - BZ
                                - BJ
                                - BM
                                - BT
                                - BO
                                - BQ
                                - BA
                                - BW
                                - BV
                                - BR
                                - IO
                                - BN
                                - BG
                                - BF
                                - BI
                                - KH
                                - CM
                                - CA
                                - CV
                                - KY
                                - CF
                                - TD
                                - CL
                                - CN
                                - CX
                                - CC
                                - CO
                                - KM
                                - CG
                                - CD
                                - CK
                                - CR
                                - CI
                                - HR
                                - CU
                                - CW
                                - CY
                                - CZ
                                - DK
                                - DJ
                                - DM
                                - DO
                                - EC
                                - EG
                                - SV
                                - GQ
                                - ER
                                - EE
                                - ET
                                - FK
                                - FO
                                - FJ
                                - FI
                                - FR
                                - GF
                                - PF
                                - TF
                                - GA
                                - GM
                                - GE
                                - DE
                                - GH
                                - GI
                                - GR
                                - GL
                                - GD
                                - GP
                                - GU
                                - GT
                                - GG
                                - GN
                                - GW
                                - GY
                                - HT
                                - HM
                                - VA
                                - HN
                                - HK
                                - HU
                                - IS
                                - IN
                                - ID
                                - IR
                                - IQ
                                - IE
                                - IM
                                - IL
                                - IT
                                - JM
                                - JP
                                - JE
                                - JO
                                - KZ
                                - KE
                                - KI
                                - KP
                                - KR
                                - XK
                                - KW
                                - KG
                                - LA
                                - LV
                                - LB
                                - LS
                                - LR
                                - LY
                                - LI
                                - LT
                                - LU
                                - MO
                                - MK
                                - MG
                                - MW
                                - MY
                                - MV
                                - ML
                                - MT
                                - MH
                                - MQ
                                - MR
                                - MU
                                - YT
                                - MX
                                - FM
                                - MD
                                - MC
                                - MN
                                - ME
                                - MS
                                - MA
                                - MZ
                                - MM
                                - NA
                                - NR
                                - NP
                                - NL
                                - AN
                                - NC
                                - NZ
                                - NI
                                - NE
                                - NG
                                - NU
                                - NF
                                - MP
                                - 'NO'
                                - OM
                                - PK
                                - PW
                                - PS
                                - PA
                                - PG
                                - PY
                                - PE
                                - PH
                                - PN
                                - PL
                                - PT
                                - PR
                                - QA
                                - RS
                                - RE
                                - RO
                                - RU
                                - RW
                                - BL
                                - SH
                                - KN
                                - LC
                                - MF
                                - PM
                                - VC
                                - WS
                                - SM
                                - ST
                                - SA
                                - SN
                                - CS
                                - SC
                                - SL
                                - SG
                                - SX
                                - SK
                                - SI
                                - SB
                                - SO
                                - ZA
                                - GS
                                - SS
                                - ES
                                - LK
                                - SD
                                - SR
                                - SJ
                                - SZ
                                - SE
                                - CH
                                - SY
                                - TW
                                - TJ
                                - TZ
                                - TH
                                - TL
                                - TG
                                - TK
                                - TO
                                - TT
                                - TN
                                - TR
                                - XT
                                - TM
                                - TC
                                - TV
                                - UG
                                - UA
                                - AE
                                - GB
                                - US
                                - UM
                                - UY
                                - UZ
                                - VU
                                - VE
                                - VN
                                - VG
                                - VI
                                - WF
                                - EH
                                - YE
                                - ZM
                                - ZW
                              description: 2 character alpha ISO-3166 codes
                              example: PH
                            latitude:
                              type: string
                              pattern: '^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$'
                              description: Latitude coordinates
                            longitude:
                              type: string
                              pattern: '^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$'
                              description: Longitude coordinates
                            type:
                              type: string
                              enum:
                                - Primary
                                - Secondary
                              description: Whether address is primary or secondary
                    required:
                      - id
                      - fullName
              examples:
                Example:
                  value:
                    meta:
                      createdDate: '2021-06-29T10:09:28+0800'
                      accountsId: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      actionsId: ffec8d06-5d03-42b9-9f75-6c66cb6efed5
                    data:
                      id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                      fullName: 'George Cimafranca Palomero, Jr'
                      firstName: George
                      middleName: Cimafranca
                      lastName: Palomero
                      suffix: Jr
                      gender: Male
                      dob: '1975-08-24'
                      maritalStatus: Married
                      countryResidence: PH
                      citizenship: Citizen
                      photoUrl: 'https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.6435-9/13454812_10156014535344453_6972260500268646400_n.jpg'
                      email:
                        - address: gpalomero@yahoo.com
                          type: Primary
                      mobilePhone:
                        - number: '+639175522320'
                          type: Primary
                      fixedPhone:
                        - number: '+63281245678'
                          type: Primary
                      socialProfile:
                        - socialUrl: 'https://www.facebook.com/gpalomero'
                          type: Facebook
                      address:
                        - fullAddress: '12 Eagle Street, Orchard Village, Pasig'
                          line1: 12 Eagle Street
                          line2: Orchard Village
                          city: Pasig
                          region: NCR
                          zip: '1600'
                          country: PH
                          latitude: '14.573775'
                          longitude: '121.085290'
                          type: Primary
        '401':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '403':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '404':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '500':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '501':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '502':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '503':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
        '504':
          description: Standard error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: HTTP error code
                    example: '401'
                  message:
                    type: string
                    description: ''
                    example: Unauthorized access
                required:
                  - code
      operationId: get-accounts-identities
      description: Get the end-user's identity from the data provider associated with the account
      tags:
        - Identities
  /accounts/jobs:
    get:
      summary: List Jobs
      tags:
        - Jobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    title: Metadata Object
                    type: object
                    description: ''
                    properties:
                      createdDate:
                        type: string
                        format: date-time
                        description: Date and time the object was created
                        example: '2021-06-29T10:09:28+0800'
                        readOnly: true
                      accountsId:
                        type: string
                        format: uuid
                        description: Account ID who made the request
                        example: e308864f-d209-4f86-a2c1-fd08f539b3a6
                        readOnly: true
                      actionsId:
                        type: string
                        format: uuid
                        description: The ID of the action
                        readOnly: true
                    required:
                      - createdDate
                      - accountsId
                      - actionsId
                  collection:
                    title: Metadata Collection
                    type: object
                    description: ''
                    properties:
                      count:
                        type: integer
                        example: 3
                        description: Number of objects returned in the array
                      limit:
                        type: integer
                        example: 5
                        description: Limit to the number of objects retrieved
                      offset:
                        type: integer
                        example: 0
                        description: Number of objects skipped before coming to the beginning of the array
                  data:
                    type: array
                    items:
                      title: Job
                      type: object
                      x-examples: {}
                      properties:
                        id:
                          type: string
                          title: Object ID
                          description: Unique ID of this object
                          format: uuid
                        status:
                          type: string
                          description: Status of employment
                          enum:
                            - Probationary
                            - Employee
                            - Contractor
                            - Self-employed
                            - Casual
                            - Terminated
                            - Resigned
                            - Deceased
                            - Freelancer
                            - Intern
                        title:
                          type: string
                          description: Job Title
                        department:
                          type: string
                          description: Department or organization in place of employment
                        employeeNumber:
                          type: string
                          description: Employee number in the employment data provider
                        startDate:
                          type: string
                          description: Start date of employment
                        endDate:
                          type: string
                          description: Termination date of employment
                        employer:
                          type: object
                          properties:
                            employerName:
                              type: string
                              description: Name of employer
                            employerAddress:
                              type: array
                              description: Address of employer
                              items:
                                title: Address Object
                                type: object
                                description: ''
                                properties:
                                  fullAddress:
                                    type: string
                                    description: Full address
                                  line1:
                                    type: string
                                    description: Line 1 of street address
                                  line2:
                                    type: string
                                    description: Line 2 of street address
                                  city:
                                    type: string
                                    description: City
                                  region:
                                    type: string
                                    description: Geographic region such as state or province
                                  zip:
                                    type: string
                                    description: Post code
                                  country:
                                    type: string
                                    title: Country ISO Codes
                                    enum:
                                      - AF
                                      - AX
                                      - AL
                                      - DZ
                                      - AS
                                      - AD
                                      - AO
                                      - AI
                                      - AQ
                                      - AG
                                      - AR
                                      - AM
                                      - AW
                                      - AU
                                      - AT
                                      - AZ
                                      - BS
                                      - BH
                                      - BD
                                      - BB
                                      - BY
                                      - BE
                                      - BZ
                                      - BJ
                                      - BM
                                      - BT
                                      - BO
                                      - BQ
                                      - BA
                                      - BW
                                      - BV
                                      - BR
                                      - IO
                                      - BN
                                      - BG
                                      - BF
                                      - BI
                                      - KH
                                      - CM
                                      - CA
                                      - CV
                                      - KY
                                      - CF
                                      - TD
                                      - CL
                                      - CN
                                      - CX
                                      - CC
                                      - CO
                                      - KM
                                      - CG
                                      - CD
                                      - CK
                                      - CR
                                      - CI
                                      - HR
                                      - CU
                                      - CW
                                      - CY
                                      - CZ
                                      - DK
                                      - DJ
                                      - DM
                                      - DO
                                      - EC
                                      - EG
                                      - SV
                                      - GQ
                                      - ER
                                      - EE
                                      - ET
                                      - FK
                                      - FO
                                      - FJ
                                      - FI
                                      - FR
                                      - GF
                                      - PF
                                      - TF
                                      - GA
                                      - GM
                                      - GE
                                      - DE
                                      - GH
                                      - GI
                                      - GR
                                      - GL
                                      - GD
                                      - GP
                                      - GU
                                      - GT
                                      - GG
                                      - GN
                                      - GW
                                      - GY
                                      - HT
                                      - HM
                                      - VA
                                      - HN
                                      - HK
                                      - HU
                                      - IS
                                      - IN
                                      - ID
                                      - IR
                                      - IQ
                                      - IE
                                      - IM
                                      - IL
                                      - IT
                                      - JM
                                      - JP
                                      - JE
                                      - JO
                                      - KZ
                                      - KE
                                      - KI
                                      - KP
                                      - KR
                                      - XK
                                      - KW
                                      - KG
                                      - LA
                                      - LV
                                      - LB
                                      - LS
                                      - LR
                                      - LY
                                      - LI
                                      - LT
                                      - LU
                                      - MO
                                      - MK
                                      - MG
                                      - MW
                                      - MY
                                      - MV
                                      - ML
                                      - MT
                                      - MH
                                      - MQ
                                      - MR
                                      - MU
                                      - YT
                                      - MX
                                      - FM
                                      - MD
                                      - MC
                                      - MN
                                      - ME
                                      - MS
                                      - MA
                                      - MZ
                                      - MM
                                      - NA
                                      - NR
                                      - NP
                                      - NL
                                      - AN
                                      - NC
                                      - NZ
                                      - NI
                                      - NE
                                      - NG
                                      - NU
                                      - NF
                                      - MP
                                      - 'NO'
                                      - OM
                                      - PK
                                      - PW
                                      - PS
                                      - PA
                                      - PG
                                      - PY
                                      - PE
                                      - PH
                                      - PN
                                      - PL
                                      - PT
                                      - PR
                                      - QA
                                      - RS
                                      - RE
                                      - RO
                                      - RU
                                      - RW
                                      - BL
                                      - SH
                                      - KN
                                      - LC
                                      - MF
                                      - PM
                                      - VC
                                      - WS
                                      - SM
                                      - ST
                                      - SA
                                      - SN
                                      - CS
                                      - SC
                                      - SL
                                      - SG
                                      - SX
                                      - SK
                                      - SI
                                      - SB
                                      - SO
                                      - ZA
                                      - GS
                                      - SS
                                      - ES
                                      - LK
                                      - SD
                                      - SR
                                      - SJ
                                      - SZ
                                      - SE
                                      - CH
                                      - SY
                                      - TW
                                      - TJ
                                      - TZ
                                      - TH
                                      - TL
                                      - TG
                                      - TK
                                      - TO
                                      - TT
                                      - TN
                                      - TR
                                      - XT
                                      - TM
                                      - TC
                                      - TV
                                      - UG
                                      - UA
                                      - AE
                                      - GB
                                      - US
                                      - UM
                                      - UY
                                      - UZ
                                      - VU
                                      - VE
                                      - VN
                                      - VG
                                      - VI
                                      - WF
                                      - EH
                                      - YE
                                      - ZM
                                      - ZW
                                    description: 2 character alpha ISO-3166 codes
                                    example: PH
                                  latitude:
                                    type: string
                                    pattern: '^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$'
                                    description: Latitude coordinates
                                  longitude:
                                    type: string
                                    pattern: '^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$'
                                    description: Longitude coordinates
                                  type:
                                    type: string
                                    enum:
                                      - Primary
                                      - Secondary
                                    description: Whether address is primary or secondary
                          required:
                            - employerName
                        compensation:
                          type: object
                          properties:
                            payPeriod:
                              type: string
                              title: Pay Period
                              description: Pay period
                              enum:
                                - Hourly
                                - Daily
                                - Weekly
                                - Biweekly
                                - Monthly
                                - Bimonthly
                                - Quarterly
                                - Annually
                                - Fixed
                                - Cumulative
                              example: Monthly
                            grossPay:
                              title: Currency Amount
                              type: object
                              description: Amount (decimal) and currency
                              properties:
                                amount:
                                  type: number
                                  description: 'Amount '
                                currency:
                                  type: string
                                  title: Currency ISO Codes
                                  description: 3 character alpha ISO 4217
                                  enum:
                                    - AFN
                                    - DZD
                                    - ARS
                                    - AMD
                                    - AWG
                                    - AUD
                                    - AZN
                                    - BSD
                                    - BHD
                                    - THB
                                    - PAB
                                    - BBD
[...]
